.square {
  background: #fff;
  border: 1px solid #999;
  font-size: xx-large;
  float: left;
  font-weight: bold;
  width: 100px;
  height: 100px;
  border-radius: 0px;
}

.square:focus {
  outline: none;
}

.square:hover {
  border-color: rgba(252, 0, 0, 1);
}